@{
    ViewBag.Title = "Lookup javascript API";
}

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Autocomplete</span>
        </div>
        <div class="widget-content">
            <div mvc-lookup="Autocomplete" url="AllPeople" title="People" browser="false"></div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code class="tag">&lt;div mvc-lookup-for<span class="kwd">="Id"</span> url<span class="kwd">="AllPeople"</span> title<span class="kwd">="People"</span> browser<span class="kwd">="false"</span>&gt;&lt;/div&gt;</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Lookup</span>
        </div>
        <div class="widget-content">
            <div mvc-lookup="Lookup" url="AllPeople" title="People"></div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code class="tag">&lt;div mvc-lookup-for<span class="kwd">="Id"</span> url<span class="kwd">="AllPeople"</span> title<span class="kwd">="People"</span>&gt;&lt;/div&gt;</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Multi lookup</span>
        </div>
        <div class="widget-content">
            <div mvc-lookup="MultiLookup" url="AllPeople" title="People" multi="true"></div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code class="tag">&lt;div mvc-lookup-for<span class="kwd">="Ids"</span> url<span class="kwd">="AllPeople"</span> title<span class="kwd">="People"</span> multi<span class="kwd">="true"</span>&gt;&lt;/div&gt;</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript configuration</span>
        </div>
        <div class="widget-content">
<pre>
<code><span class="kwd">var</span> element = document.querySelector(<span class="str">'.mvc-lookup'</span>);
<span class="kwd">var</span> lookup = <span class="kwd">new</span> MvcLookup(element, {
    readonly: <span class="kwd">false</span>, <span class="com">// Disables lookup if set to true.</span>
    loadingDelay: 300, <span class="com">// The delay period in milliseconds for loading circles to appear.</span>
    searchDelay: 500, <span class="com">// The debounce period in milliseconds for search inputs.</span>
    events: {
        select: <span class="kwd">function</span> (data, triggerChanges) {
            <span class="com">// data - an array of selected data.</span>
            <span class="com">// triggerChanges - a boolean specifying if input change events should be triggered.</span>

            <span class="com">// returning false prevents the default lookup selection logic.</span>
        },
        filterChange: <span class="kwd">function</span> (input) {
            <span class="com">// input - original filter value input, which triggered the event.</span>

            <span class="com">// returning false prevents the default lookup filter check.</span>
        }
    },
    autocomplete: {
        sort: <span class="str">'Income'</span>, <span class="com">// Sort column to be used when querying autocomplete results.</span>
        order: <span class="str">'desc'</span>, <span class="com">// Sort order to be used when sorting autocomplete results.</span>
        minLength: 1, <span class="com">// The minimum number of characters before a search is performed.</span>
        rows: 20 <span class="com">// Number of results to show in autocomplete.</span>
    },
    dialog: {
        preserveSearch: <span class="kwd">true</span>, <span class="com">// Indicates if dialog search value should be preserved after close.</span>
        openDelay: 100, <span class="com">// The time in milliseconds before dialog is opened (to allow data to load).</span>
        rows : {
            min: 1, <span class="com">The minimum allowed value for rows.</span>
            max: 99 <span class="com">The maximum allowed value for rows.</span>
        }
    }
});</code>
</pre>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript methods</span>
        </div>
        <div class="widget-content">
<pre>
<code><span class="kwd">var</span> element = document.querySelector(<span class="str">'.mvc-lookup'</span>);

<span class="com">// Initializes new or returns an existing lookup's instance with applied options.</span>
<span class="kwd">var</span> lookup = new MvcLookup(element[, options]);

lookup.browse(); <span class="com">// Opens lookup dialog for browsing data.</span>

lookup.reload([triggerChanges = <span class="kwd">true</span>]); <span class="com">// Reloads lookup values from the hidden id values.</span>

lookup.selectFirst([triggerChanges = <span class="kwd">true</span>]); <span class="com">// Automatically selects first element.</span>

lookup.selectSingle([triggerChanges = <span class="kwd">true</span>]); <span class="com">// Automatically selects single element only or nothing.</span></code>

lookup.set(options); <span class="com">// Merges and applies newly specified options with the current ones.</span></code>
</pre>
        </div>
    </div>
</div>
