@{
    ViewBag.Title = "Lookup browse";
}

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Autocomplete</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-10">
                    <div mvc-lookup="Autocomplete" url="AllPeople" title="People" browser="false"></div>
                </div>
                <div class="col-xl-2">
                    <button id="AutocompleteButton" class="btn btn-secondary">Browse</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code class="tag">&lt;div mvc-lookup-for<span class="kwd">="Id"</span> url<span class="kwd">="AllPeople"</span> title<span class="kwd">="People"</span> browser<span class="kwd">="false"</span>&gt;&lt;/div&gt;</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Lookup</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-10">
                    <div mvc-lookup="Lookup" url="AllPeople" title="People"></div>
                </div>
                <div class="col-xl-2">
                    <button id="LookupButton" class="btn btn-secondary">Browse</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code class="tag">&lt;div mvc-lookup-for<span class="kwd">="Id"</span> url<span class="kwd">="AllPeople"</span> title<span class="kwd">="People"</span>&gt;&lt;/div&gt;</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col-xl-12">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript</span>
        </div>
        <div class="widget-content">
<pre>
<code>document.getElementById(<span class="str">'button'</span>).addEventListener(<span class="str">'click'</span>, <span class="kwd">function</span>() {
    <span class="kwd">new</span> MvcLookup(document.getElementById(<span class="str">'Id'</span>)).browse();
});</code>
</pre>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.getElementById('AutocompleteButton').addEventListener('click', function () {
            new MvcLookup(document.getElementById('Autocomplete')).browse();
        });

        document.getElementById('LookupButton').addEventListener('click', function () {
            new MvcLookup(document.getElementById('Lookup')).browse();
        });
    </script>
}
