@{
    ViewBag.Title = "Lookup browse";
}

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Autocomplete</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-10">
                    @Html.AutoComplete("Autocomplete", new PeopleLookup())
                </div>
                <div class="col-xl-2">
                    <button id="AutocompleteButton" class="btn btn-secondary">Browse</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.AutoCompleteFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleLookup</span>())</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Lookup</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-10">
                    @Html.Lookup("Lookup", new PeopleLookup())
                </div>
                <div class="col-xl-2">
                    <button id="LookupButton" class="btn btn-secondary">Browse</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.LookupFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleLookup</span>())</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col-xl-12">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript</span>
        </div>
        <div class="widget-content">
<pre>
<code>document.getElementById(<span class="str">'button'</span>).addEventListener(<span class="str">'click'</span>, <span class="kwd">function</span>() {
    <span class="kwd">new</span> MvcLookup(document.getElementById(<span class="str">'Id'</span>)).browse();
});</code>
</pre>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.getElementById('AutocompleteButton').addEventListener('click', function () {
            new MvcLookup(document.getElementById('Autocomplete')).browse();
        });

        document.getElementById('LookupButton').addEventListener('click', function () {
            new MvcLookup(document.getElementById('Lookup')).browse();
        });
    </script>
}
