@{
    ViewBag.Title = "Lookup readonly";
}

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Autocomplete</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-9">
                    @Html.AutoComplete("Autocomplete", new PeopleLookup() { ReadOnly = true }, 1)
                </div>
                <div class="col-xl-3">
                    <button id="AutocompleteButton" class="btn btn-secondary">Toggle readonly</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.AutoCompleteFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleLookup</span>())</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Lookup</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-9">
                    @Html.Lookup("Lookup", new PeopleLookup(), 5)
                </div>
                <div class="col-xl-3">
                    <button id="LookupButton" class="btn btn-secondary">Toggle readonly</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.LookupFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleLookup</span>())</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Multi lookup</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-9">
                    @Html.Lookup("MultiLookup", new PeopleLookup() { Multi = true }, new [] { 3, 4 })
                </div>
                <div class="col-xl-3">
                    <button id="MultiLookupButton" class="btn btn-secondary">Toggle readonly</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.LookupFor(model => model.Ids, <span class="kwd">new</span> <span class="cls">PeopleLookup</span>() { Multi = <span class="kwd">true</span> })</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col-xl-12">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript</span>
        </div>
        <div class="widget-content">
<pre>
<code>document.getElementById(<span class="str">'button'</span>).addEventListener(<span class="str">'click'</span>, <span class="kwd">function</span>() {
    <span class="kwd">var</span> lookup = <span class="kwd">new</span> MvcLookup(document.querySelector(<span class="str">'.mvc-lookup'</span>));
    lookup.set({ readonly: !lookup.readonly });
});</code>
</pre>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.getElementById('AutocompleteButton').addEventListener('click', function () {
            var lookup = new MvcLookup(document.getElementById('Autocomplete'));
            lookup.set({ readonly: !lookup.readonly });
        });

        document.getElementById('LookupButton').addEventListener('click', function () {
            var lookup = new MvcLookup(document.getElementById('Lookup'));
            lookup.set({ readonly: !lookup.readonly });
        });

        document.getElementById('MultiLookupButton').addEventListener('click', function () {
            var lookup = new MvcLookup(document.querySelector('.mvc-lookup[data-for="MultiLookup"]'));
            lookup.set({ readonly: !lookup.readonly });
        });
    </script>
}
