<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="javascript:void" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="datalist,lookup,ajax,mvc,core" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lookup controls for ASP.NET MVC projects.">
    <title>@ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <environment names="Development">
        <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet">
        <link href="~/Content/FontAwesome/font-awesome.css" rel="stylesheet">
        <link href="~/Content/MvcLookup/mvc-lookup.css" rel="stylesheet">
        <link href="~/Content/Shared/base.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link asp-append-version="true" href="~/content/page/bundle.min.css" rel="stylesheet">
    </environment>
</head>
<body class="container-fluid">
    <partial name="MvcLookup/_Dialog" />
    <div class="row">
        <div class="sidebar col-xl-2">
            <div class="logo">
                <a href="https://github.com/NonFactors/MVC6.Lookup">
                    <span class="fa fa-github">
                        <span class="version">v@(typeof(MvcLookup).GetTypeInfo().Assembly.GetName().Version)</span>
                    </span>
                </a>
            </div>
            <input id="SearchInput" class="sidebar-search" placeholder="Search...">
            <ul>
                <li>
                    <a href="~/">Quick start</a>
                </li>
                <li>
                    <a href="~/Home/Installation">Installation</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="~/Lookup/SourceUrl">Lookup source url</a>
                </li>
                <li>
                    <a href="~/Lookup/Title">Lookup dialog title</a>
                </li>
                <li>
                    <a href="~/Lookup/Placeholder">Lookup placeholder</a>
                </li>
                <li>
                    <a href="~/Lookup/Localization">Lookup localization</a>
                </li>
                <li>
                    <a href="~/Lookup/HiddenData">Lookup hidden data</a>
                </li>
                <li>
                    <a href="~/Lookup/AdditionalFilters">Lookup additional filters</a>
                </li>
                <li>
                    <a href="~/Lookup/SortOptions">Lookup initial sort options</a>
                </li>
                <li>
                    <a href="~/Lookup/PagingOptions">Lookup initial paging options</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="~/Lookup/Id">Lookup id</a>
                </li>
                <li>
                    <a href="~/Lookup/Label">Lookup label</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="~/Column/Position">Lookup column position</a>
                </li>
                <li>
                    <a href="~/Column/CssClass">Lookup column css class</a>
                </li>
                <li>
                    <a href="~/Column/Header">Lookup column header title</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="~/Javascript/Reload">Lookup reload</a>
                </li>
                <li>
                    <a href="~/Javascript/Browse">Lookup browse</a>
                </li>
                <li>
                    <a href="~/Javascript/Readonly">Lookup readonly</a>
                </li>
                <li>
                    <a href="~/Javascript/SelectFirst">Lookup loading first row</a>
                </li>
                <li>
                    <a href="~/Javascript/SelectSingle">Lookup loading single row</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="~/Javascript/Select">Binding select event</a>
                </li>
                <li>
                    <a href="~/Javascript/FilterChange">Binding filter change event</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="~/Javascript/Api">Lookup javascript API</a>
                </li>
            </ul>
        </div>
        <div class="col">
            @RenderBody()
        </div>
    </div>

    <environment names="Development">
        <script src="~/Scripts/MvcLookup/mvc-lookup.js"></script>
        <script src="~/Scripts/Shared/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script asp-append-version="true" src="~/scripts/page/bundle.min.js"></script>
    </environment>
    @RenderSection("scripts", false)
</body>
</html>
