@model Person
@{
    ViewBag.Title = "Lookup localization";
}

<div class="row">
    <div class="col-md-6">
        <div class="example content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-bars"></i>
                    Lookup
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
                    @Html.Lookup("Lookup", new PeopleLookup { Url = "LocalizedPeople", Title = "Personen" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="example content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-bars"></i>
                    Multi lookup
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
                    @Html.Lookup("MultiLookup", new PeopleLookup { Url = "LocalizedPeople", Multi = true, Title = "Personen" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    View
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
@@Html.LookupFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleLookup</span>())
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    View
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
@@Html.LookupFor(model => model.Ids, <span class="kwd">new</span> <span class="cls">PeopleLookup</span> { Multi = <span class="kwd">true</span> })
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    Person
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
<span class="kwd">public class</span> <span class="cls">Person</span>
{
    [<span class="cls">Key</span>]
    <span class="kwd">public</span> <span class="cls">Int32</span> Id { <span class="kwd">get</span>; <span class="kwd">set</span>; }
    <span class="kwd">public</span> <span class="cls">Int32</span>[] Ids { <span class="kwd">get</span>; <span class="kwd">set</span>; }

    [<span class="cls">LookupColumn</span>]
    [<span class="cls">Display</span>(Name = <span class="str">"Vorname"</span>)]
    <span class="kwd">public</span> <span class="cls">String</span> Name { <span class="kwd">get</span>; <span class="kwd">set</span>; }

    [<span class="cls">LookupColumn</span>]
    [<span class="cls">Display</span>(Name = <span class="str">"Nachname"</span>)]
    <span class="kwd">public</span> <span class="cls">String</span> Surname { <span class="kwd">get</span>; <span class="kwd">set</span>; }

    [<span class="cls">LookupColumn</span>]
    [<span class="cls">Display</span>(Name = <span class="str">"Einkommen"</span>)]
    <span class="kwd">public</span> <span class="cls">Int32</span> Income { <span class="kwd">get</span>; <span class="kwd">set</span>; }

    [<span class="cls">Display</span>(Name = <span class="str">"Geburtstag"</span>)]
    [<span class="cls">LookupColumn</span>(Format = <span class="str">"{0:d}"</span>)]
    <span class="kwd">public</span> <span class="cls">DateTime</span> Birthday { <span class="kwd">get</span>; <span class="kwd">set</span>; }

    <span class="kwd">public</span> <span class="cls">Boolean</span>? IsWorking { <span class="kwd">get</span>; <span class="kwd">set</span>; }
}
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    PeopleLookup
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
<span class="kwd">public class</span> <span class="cls">PeopleLookup</span> : <span class="cls">MvcLookup</span>&lt;<span class="cls">Person</span>&gt;
{
    <span class="kwd">private</span> <span class="cls">DbContext</span> Context { <span class="kwd">get</span>; }

    <span class="kwd">public</span> PeopleLookup(<span class="cls">DbContext</span> context)
    {
        Context = context;
    }
    <span class="kwd">public</span> PeopleLookup()
    {
        Url = <span class="str">"AllPeople"</span>;
        Title = <span class="str">"Personen"</span>;
    }

    <span class="kwd">public override</span> <span class="cls">IQueryable</span>&lt;<span class="cls">Person</span>&gt; GetModels()
    {
        <span class="kwd">return</span> Context.Set&lt;<span class="cls">Person</span>&gt;();
    }
}
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    Javascript
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
&lt;script&gt;
    $.fn.mvclookup.lang = {
        error: <span class="str">'Fehler beim Abrufen von Aufzeichnungen'</span>,
        noData: <span class="str">'Keine Daten gefunden'</span>,
        select: <span class="str">'Wählen ({0})'</span>,
        search: <span class="str">'Suche...'</span>
    };
&lt;/script&gt;
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
<script>
    $.fn.mvclookup.lang = {
        error: 'Fehler beim Abrufen von Aufzeichnungen',
        noData: 'Keine Daten gefunden',
        select: 'Wählen ({0})',
        search: 'Suche...'
    };
</script>
}